<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-royal">            
            <button menu-toggle="left" class="button button-icon icon ion-navicon">            
            </button>
            <h1 class="title">EMRS Application</h1>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-pane>
    
     <ion-side-menu side="left">
        <header class="bar bar-header bar-royal">
            <h1 class="title">Contents</h1>
        </header>
        
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="multiform.generaldetails">General Details</ion-item>
                <ion-item nav-clear ng-click="SayHello()" menu-close ui-sref="multiform.clinicaldetails">Clinical Details</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Observations</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Transport & Time</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Airway</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Oxygen & Ventilation</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Interventions</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Drugs</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Urgency & Complications</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Advice Only</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Additional Notes</ion-item>
                <ion-item nav-clear menu-close ui-sref="multiform.signoff">Sign Off</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

