<ion-view>
    <ion-content>
    <div class="row">
      <div class="col"><img style='float:left;' src="img/emrs_logo.png">&nbsp;<H1>EMRS Application</H1></div>
    </div>
     
    <DIV class='centerdiv'>
      <div class="row">
        <div class="col col-150 col-offset-20">
          <a ui-sref="multiform.generaldetails">
          <span class="ion-compose" style='font-size:100px;float:left;' data-pack="default"></span>
          </a>
          <H1><a ui-sref="multiform.generaldetails">&nbsp;&nbsp;Create New Form</a></H1>
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col col-150 col-offset-20">
          <a ui-sref="multiform.generaldetails">
          <span class="ion-ipad" style='font-size:100px;float:left;' data-pack="default"></span>
          </a>
          <H1><a href="#/generaldetails">&nbsp;&nbsp;Views Forms On Device</a></H1>
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col col-150 col-offset-20">
          <a ui-sref="multiform.generaldetails">
          <span class="ion-arrow-down-a" style='font-size:100px;float:left;' data-pack="default"></span>
          </a>
          <H1><a href="#/generaldetails">&nbsp;&nbsp;Download Forms</a></H1>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col col-150 col-offset-20">
          <a ui-sref="multiform.generaldetails">
          <span class="ion-loop" style='font-size:80px;float:left;' data-pack="default"></span>
          </a>
          <H1><a href="#/generaldetails">&nbsp;&nbsp;Sync Forms</a></H1>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col col-150 col-offset-20">
          <a ui-sref="multiform.generaldetails">
          <span class="ion-close-circled" style='font-size:80px;float:left;' data-pack="default"></span>
          </a>
          <H1><a href="#/login">&nbsp;&nbsp;LOGOUT</a></H1>
        </div>
      </div>
      <hr>

    </DIV>

    </ion-content>
</ion-view>
